<!--<header-component></header-component>-->
<head>
    <link href="/suportWebClient/public_html/css/home-page.css" rel="stylesheet" type="text/css"/>
</head>
<nav ng-show="ocultar">
    <ul>
        <a href="home" class="vertical-text"> <li class="vertical-text">INICIO</li></a>
        <a href="cliente/plist" class="vertical-text"><li class="vertical-text">CLIENTES</li></a>
        <a href="producto/plist" class="vertical-text"><li class="vertical-text">ARTÍCULOS</li></a>
        <a href="factura/plist" class="vertical-text"><li class="vertical-text">FACTURAS</li></a>
        <a href="presupuesto/plist" class="vertical-text"><li class="vertical-text">PRESUPUESTOS</li></a>

        <li class="slide"></li>
    </ul>
</nav>
<div class="wrapper" id="fondo" ng-show="!ocultar">
    <div class="container" id="formlogin">


        <form class="form" name="userForm">
            <h1 id="titulo">Login</h1>
            <br>
            <input type="text" placeholder="Usuario" id="login" name="login" ng-model="login" ng-required="true">
            <input type="password" placeholder="Contraseña" id="password" name="password" ng-model="password" ng-required="true">
            <button ng-click="validar()" type="button" ng-disabled="userForm.$invalid" id="login-button">Login</button>
        </form>
    </div>
</div>
