<header-component></header-component>
<div class="container-fluid">
    <h1 class="circle bounce-in">CLIENTES EMPRESA EJERCICIO {{ejercicio}}</h1>
    <button class="btn"><a href="/cliente/create"> <i class="fa fa-plus-square"></i> AÑADIR CLIENTE</a></button>
    <div class="table-responsive-md">

        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>NIF</th>
                    <th>Nombre</th>
                    <th>Razon Social</th>
                    <th>Teléfono</th>
                    <th>Direcció</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="fila in ajaxDataCliente">
                    <td>{{fila.id}}</td>
                    <td>{{fila.codigo}}</td>
                    <td>{{fila.nif}}</td>
                    <td>{{fila.nombre}}</td>
                    <td>{{fila.razonsocial}}</td>
                    <td>{{fila.telefono}}</td>
                    <td>{{fila.direccion}} <button ng-show="{{fila.direccion  !== undefined}}" class="btn btn-info btn-sm" ng-click="maps(fila.direccion)"><i class="fas fa-map-marked-alt"></i></button></td>
                    <td>{{fila.email}}</td>
                    <td><a href="cliente/view/{{fila.codigo}}">
                            <i class="fa fa-eye hvr-pop" style="font-size: 17px;" aria-hidden="true" onclick="window.scrollTo(0, 0)"></i>
                        </a>&nbsp
                        <a href="cliente/update/{{fila.codigo}}">
                            <i class="fa fa-user-edit hvr-pop" style="font-size: 17px;" aria-hidden="true" onclick="window.scrollTo(0, 0)"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-6">
            <nav aria-label="paginacion">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="cliente/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="cliente/plist/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="cliente/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="cliente/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="cliente/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Siguiente</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
