<header-component></header-component>
<main role="main" class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ajaxDataUsuarios.nombre}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img alt="User Pic"
                        src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/user-male-icon.png"
                        class="img-circle img-responsive" width="100%" height="100%">
                </div>

                <div class=" col-md-9 col-md-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>NIF / CIF</td>
                                <td>{{ajaxDataUsuarios.nif}}</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>{{ajaxDataUsuarios.direccion}}</td>
                            </tr>
                            <tr>
                                <td>IBAN</td>
                                <td>{{ajaxDataUsuarios.iban}}</td>
                            </tr>
                            <tr>
                                <td>Poblacion(Provincia)</td>
                                <td>{{ajaxDataUsuarios.poblacion}}({{ajaxDataUsuarios.provincia}})</td>
                            </tr>
                            <tr>
                                <td>Teléfono de contacto</td>
                                <td>{{ajaxDataUsuarios.telefono}}</td>

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:{{ajaxDataUsuarios.email}}"
                                        target="_top">{{ajaxDataUsuarios.email}}</a></td>

                            </tr>
                        </tbody>

                    </table>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <button type="button" class="btn btn-warning"
                                    ng-click="editar(ajaxDataUsuarios.codigo)">
                                    <i class="fa fa-user-plus"></i> Editar
                                </button>


                                <button type="button" class="btn btn-danger" ng-click="atras()">
                                    <i class="fa fa-ban"></i> Cancelar
                                </button>



                            </div>

                        </div>
                        <div class="col-md-3"></div>
                        <button type="button" class="btn btn-danger" ng-click="borrar(ajaxDataUsuarios.id)">
                            <i class="fa fa-ban"></i> BORRAR
                        </button>
                        <a href="/suportWebClient/public_html/cliente/facturas/{{ajaxDataUsuarios.codigo}}">
                            <button type="button" class="btn btn-info" ng-click="">
                                <i class="fas fa-info"></i> Ver facturas
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>