<header-component></header-component>


<div class="container-fluid">

    <h3>CLIENTES EMPRESA EJERCICIO {{ejercicio}}</h3>
    <div class="table-responsive-md">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Existencias</th>
                    <th>PVP 1</th>
                    <th>PVP 2</th>
                    <th>PVP 3</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="fila in ajaxDataProducto">
                    <td>{{fila.id}}</td>
                    <td>{{fila.codigo}}</td>
                    <td>{{fila.descripcion}}</td>
                    <td>{{fila.existencias}}</td>
                    <td>{{fila.pvp1}}</td>
                    <td>{{fila.pvp2}}</td>
                    <td>{{fila.pvp3}}</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <nav aria-label="paginacion">
            <ul class="pagination">

                <li class="page-item">
                    <a class="page-link" ng-show="page > 1" href="cliente/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Anterior</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page > 2" href="cliente/plist/{{rpp}}/1/{{orderURLCliente}}">1</a>
                </li>
                <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                    <a class="page-link" href="cliente/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="cliente/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page != totalPages" href="cliente/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Siguiente</a>
                </li>

            </ul>
        </nav>
    </div>
</div>