<header-component></header-component>


<!-- PASO 1 -->
<div>
    <form style="display:contents;" id="cabecera" name="userForm">
        <h3> Cabecera Presupuesto</h3>

        <div class="form-group">
            <label>Fecha</label>
            <md-datepicker ng-model="myDate" md-placeholder="Fecha" ng-change="cambiofecha(myDate)" class="fecha">
            </md-datepicker>
        </div>

        <div class="form-group">
            <div class="col-12">
                <label for=""> Cliente <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#cadd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Código Cliente"
                        ng-model='ajaxDatoProducto.obj_cliente.codigo' ng-required="true">

                    <cliente-selection class="modal fade" id="cadd-location-modal" obj='ajaxDatoProducto.obj_cliente'>
                    </cliente-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Cliente"
                        ng-model='ajaxDatoProducto.obj_cliente.nombre' ng-required="true"></label>
            </div>

            <div class="col-12">
                <label>Forma Pago <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#padd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Forma Pago"
                        ng-model="ajaxDatoProducto.obj_pago.codigo" ng-required="true">
                    <pago-selection class="modal fade" id="padd-location-modal" obj='ajaxDatoProducto.obj_pago'>
                    </pago-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Pago"
                        ng-model="ajaxDatoProducto.obj_pago.nombre" ng-required="true"></label>
            </div>

            <div class="col-12">
                <label>Representante <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#radd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Código Representante"
                        ng-model="ajaxDatoProducto.obj_representante.codigo" ng-required="true">
                    <representante-selection class="modal fade" id="radd-location-modal"
                        obj='ajaxDatoProducto.obj_representante'></representante-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Representante"
                        ng-model="ajaxDatoProducto.obj_representante.nombre"></label>
            </div>

            <div class="col-12">
                <label>Tarifa <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#cadd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Tarifa" ng-required="true">
                    <tarifa-selection class="modal fade" id="cadd-location-modal"></tarifa-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Pago" ></label>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click='formulario(2)' ng-disabled="userForm.$invalid">SIGUIENTE</button>
                </div>
            </div>
    </form>

</div>

<!-- PASO 2 -->

<div class="row setup-content" id="lineas" style="display:none;">
    <div class="col-md-12">
        <div class="col-md-12">
            <h3> Lineas Presupuesto</h3>
            <div class="container">
                <section class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Referencia</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>DTO</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in invoice.items">

                                <div>
                                    <producto-selection class="modal fade" id="prodadd-location-modal"
                                        obj='invoice.items.obj_producto'>
                                    </producto-selection>

                                </div>
                                <td>
                                    <input type="text" ng-model="item.obj_producto.referencia" />
                                    <span class="input-group-text fa fa-search" data-toggle="modal"
                                        data-target="#prodadd-location-modal" ng-click='seleccionar(fila.producto)'>
                                    </span>
                                </td>
                                <td><input type="text" ng-model="item.obj_producto.description" /></td>
                                <td><input type="number" ng-model="item.price" /></td>
                                <td><input type="number" ng-model="item.dto" /></td>
                                <td><input type="number" ng-model="item.qty" /></td>
                                <td ng-show='{{item.dto}} > 0'>{{((item.qty * item.price)*item.dto)/100}} €</td>
                                <td ng-show='{{item.dto}} === 0'>{{item.qty * item.price}} €</td>
                                <td><button type="button" class="btn btn-danger"
                                        ng-click="remove($index)">Borrar</button></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="btn btn-primary" ng-click="add()">Add item</button>
                                </td>
                                <td></td>
                                <td></td>
                                <td>Total : </td>
                                <td>{{total()}} €</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <button class="btn btn-light btn-block nextBtn pull-right" type="button"
                ng-click='formulario(1)'>Atras</button>
            <button class="btn btn-light btn-block nextBtn pull-right" type="button"
                ng-click='formulario(3)'>Next</button>
        </div>
    </div>
</div>

<!-- PASO 3 -->




<!-- PASO 4 -->

<div id="final" style="display:none;">
    <div class="container" style="padding-top: 4%;">
        <div class="text-center">
            <h1 style="font-size: 50px;">Presupuesto Nº {{id}}</h1>
            <br>
            <h3>{{ajaxDataPresupuesto.fecha}}</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <br>
                                    <strong class="">{{ajaxDataCliente.obj_Cliente.nombre}}</strong><br class="">
                                    {{ajaxDataCliente.obj_Cliente.nif}}<br class="">
                                    {{ajaxDataCliente.direccion}}<br class="">
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <br>
                                    {{ajaxDataCliente.telefono}}<br class="">
                                    {{ajaxDataCliente.email}}<br class="">
                                </address>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- panel heading -->
                    <div class="panel-body">
                        <h3 class="panel-title">Detalle</h3>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="">Producto</th>
                                    <th class="">Descripción</th>
                                    <th class="">Precio</th>
                                    <th class="">Cantidad</th>
                                    <th class="">Descuento</th>
                                    <th class="">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX" ng-repeat="fila in ajaxDataLineaPresupuesto track by $index">
                                    <td>{{fila.obj_Producto.codigo}}</td>
                                    <td>{{fila.descripcion}}</td>
                                    <td>{{fila.precio}}</td>
                                    <td>{{fila.cantidad}}</td>
                                    <td>{{fila.descuento}}</td>

                                    <td ng-show='fila.descuento > 0'>
                                        {{(fila.precio_Total/((fila.descuento/100)+1)).toFixed(2)}}</td>
                                    <td ng-show='fila.descuento == 0'>{{fila.precio_Total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed" style="margin-top: 12%; text-align: center;">
                            <thead>
                                <tr>
                                    <th class="">Base Imponible</th>
                                    <th class="">Descuento</th>
                                    <th class="">IVA</th>
                                    <th class="">%</th>
                                    <th class="">Total Presupuesto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>{{ajaxDataPresupuesto.precio_Bruto}}</td>
                                    <td>{{ajaxDataPresupuesto.descuento}}</td>
                                    <td>{{ajaxDataPresupuesto.total_Iva}}</td>
                                    <td>{{ajaxDataPresupuesto.iva}}</td>

                                    <td>{{ajaxDataPresupuesto.total_Precio}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>