<!-- PASO 1 -->
<div >
    <form >
        <div class="form-inline">
            <div class="form-group col-md-6">
                <label>Fecha</label>
                <md-datepicker ng-model="myDate" md-placeholder="Fecha" ng-change="cambiofecha(myDate)" class="fecha">
                </md-datepicker>
            </div>
        </div>
        <div class="form-group row">

            <div class="form-group col-md-6">
                <label>Cliente</label>
                <input type="text" class="form-control" placeholder="Código Cliente">
                <cliente-selection class="modal fade" id="cadd-location-modal">
                    <span class="input-group-text fa fa-search" data-toggle="modal" data-target="#cadd-location-modal"
                        ng-click='seleccionar(fila.cliente)'>
                    </span>
                </cliente-selection>
            </div>

            <div class="form-group col-md-6">
                <label>Nombre Cliente</label>
                <input type="text" class="form-control" placeholder="Nombre Cliente">
            </div>

        </div>

        <div class="form-group row">

            <div class="form-group col-md-6">
                <label>Forma Pago</label>
                <input type="text" class="form-control" placeholder="Forma Pago">
                <pago-selection class="modal fade" id="cadd-location-modal">
                    <span class="input-group-text fa fa-search" data-toggle="modal" data-target="#cadd-location-modal"
                        ng-click='seleccionar(fila.cliente)'>
                    </span>
                </pago-selection>
            </div>

            <div class="form-group col-md-6">
                <label>Nombre Pago</label>
                <input type="text" class="form-control" placeholder="Nombre Pago">
            </div>
        </div>

        <div class="form-group row">

            <div class="form-group col-md-6">
                <label>Representante</label>
                <input type="text" class="form-control" placeholder="Representante">
                <representante-selection class="modal fade" id="cadd-location-modal">
                    <span class="input-group-text fa fa-search" data-toggle="modal" data-target="#cadd-location-modal"
                        ng-click='seleccionar(fila.cliente)'>
                    </span>
                </representante-selection>
            </div>

            <div class="form-group col-md-6">
                <label>Nombre Repre</label>
                <input type="text" class="form-control" placeholder="Nombre Representante">
            </div>
        </div>

            <div class="form-group row">

                <div class="form-group col-md-6">
                    <label>Tarifa</label>
                    <input type="text" class="form-control" placeholder="Forma Pago">
                    <pago-selection class="modal fade" id="cadd-location-modal">
                        <span class="input-group-text fa fa-search" data-toggle="modal"
                            data-target="#cadd-location-modal" ng-click='seleccionar(fila.cliente)'>
                        </span>
                    </pago-selection>
                </div>

                <div class="form-group col-md-6">
                    <label>Nombre Pago</label>
                    <input type="text" class="form-control" placeholder="Nombre Pago">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click='formulario(1)'>SIGUIENTE</button>
                </div>
            </div>
    </form>
    
</div>

<!-- PASO 2 -->

<div>

</div>

<!-- PASO 3 -->

<div>

</div>