<header-component></header-component>


<!-- PASO 1 -->
<div>
    <form style="display:contents;" id="cabecera" name="userForm">
        <h3> Cabecera Presupuesto</h3>

        <div class="form-group">
            <label>Fecha</label>
            <md-datepicker ng-model="fecha" md-placeholder="Fecha" ng-readonly="true"></md-datepicker>
        </div>

        <div class="form-group">
            <div class="col-12">
                <label for=""> Cliente <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#cadd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Código Cliente"
                        ng-model='ajaxDatoProducto.obj_cliente.codigo' ng-required="true" ng-change='completar()'>

                    <cliente-selection class="modal fade" id="cadd-location-modal" obj='ajaxDatoProducto.obj_cliente'>
                    </cliente-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Cliente"
                        ng-model='ajaxDatoProducto.obj_cliente.nombre' ng-required="true"></label>
            </div>

            <div class="col-12">
                <label>Forma Pago <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#padd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Forma Pago"
                        ng-model="ajaxDatoProducto.obj_cliente.codfpago" ng-required="true">
                    <pago-selection class="modal fade" id="padd-location-modal" obj='ajaxDatoProducto.obj_pago'>
                    </pago-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Pago"
                        ng-model="ajaxDatoProducto.obj_cliente.nomfpago" ng-required="true"></label>
            </div>

            <div class="col-12">
                <label>Representante <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#radd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Código Representante"
                        ng-model="ajaxDatoProducto.obj_cliente.codrepre" ng-required="true">
                    <representante-selection class="modal fade" id="radd-location-modal"
                        obj='ajaxDatoProducto.obj_representante'></representante-selection>
                </label>
                &nbsp
                <label for="">&nbsp
                    <input type="text" class="form-control" placeholder="Nombre Representante"
                        ng-model="ajaxDatoProducto.obj_cliente.nomrepre"></label>
            </div>

            <div class="col-12">
                <label>Tarifa <span class="input-group-text fa fa-search" data-toggle="modal"
                        data-target="#cadd-location-modal" ng-click='seleccionar(fila.cliente)'>
                    </span></label>
                <label>
                    <input type="text" class="form-control" placeholder="Tarifa" ng-required="true"
                    ng-model="ajaxDatoProducto.obj_cliente.tarifa">
                </label>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click='formulario(2)'
                        ng-disabled="userForm.$invalid">SIGUIENTE</button>
                </div>
            </div>
    </form>

</div>

<!-- PASO 2 -->

<div class="container" id="lineas" style="display:none;">
    <producto-selection class="modal fade" id="prodadd-location-modal" obj='ajaxProducto.obj_cliente'>
    </producto-selection>
    <form name="lineasForm" id="lineasForm">
        <div class="form-group">
            <label for="email">Producto
                <span class="input-group-text fa fa-search" data-toggle="modal" data-target="#prodadd-location-modal">
                </span>
            </label>
            <input type="text" class="form-control" ng-required="true" ng-model='ajaxProducto.obj_cliente.referencia'>
            <input type="text" class="form-control" ng-required="true" ng-model='ajaxProducto.obj_cliente.descripcion'>
        </div>
        <div class="form-group">
            <label for="email">Cantidad</label>
            <input type="number" step="any" class="form-control" ng-model='ajaxProducto.cantidad' ng-required="true">
        </div>
        <div class="form-group">
            <label for="email">Precio</label>
            <input type="number" step="any" class="form-control" ng-model='ajaxProducto.precio' ng-required="true">
        </div>
        <div class="form-group">
            <label for="email">Descuento </label>
            <input type="number" step="any" class="form-control" ng-model='ajaxProducto.descuento' ng-required="true">

        </div>
        <button class="btn btn-info" ng-click='addlineas()'>Guardar / Añadir</button>
    </form>

    <button class="btn btn-success" ng-click='formulario(3)' ng-disabled="lineasForm.$invalid">Siguiente</button>
</div>

<!-- PASO 3 -->

<div class="table-responsive-md" id="plist" style="display:none;">
    <table class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>Linea</th>
                <th>Código</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descuento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gradeX" ng-repeat="fila in ajaxDatoLineas">
                <td>1</td>
                <td>{{fila.obj_producto.codigo}}</td>
                <td>{{fila.obj_producto.descripcion}}</td>
                <td>{{fila.precio}} €</td>
                <td>{{fila.cantidad}}</td>
                <td>{{fila.descuento}}</td>

                <td>
                    <a href="presupuesto/view/{{fila.presupuesto}}">
                        <i class="fa fa-eye hvr-pop" style="font-size: 17px;" aria-hidden="true"
                            onclick="window.scrollTo(0, 0)"></i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-success" ng-click='formulario(4)'>Siguiente</button>
</div>



<!-- PASO 4 -->

<div id="final" style="display:none;">
    <div class="container" style="padding-top: 4%;">
        <div class="text-center">
            <h1 style="font-size: 50px;">Presupuesto Nº {{id}}</h1>
            <br>
            <h3>{{ajaxDataPresupuesto.fecha}}</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <br>
                                    <strong class="">{{ajaxDatoProducto.obj_cliente.nombre}}</strong><br class="">
                                    {{ajaxDataCliente.obj_Cliente.nif}}<br class="">
                                    {{ajaxDataCliente.direccion}}<br class="">
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <br>
                                    {{ajaxDataCliente.telefono}}<br class="">
                                    {{ajaxDataCliente.email}}<br class="">
                                </address>
                            </div>
                        </div>
                    </div> 
                    <div class="panel-body">
                        <h3 class="panel-title">Detalle</h3>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="">Producto</th>
                                    <th class="">Descripción</th>
                                    <th class="">Precio</th>
                                    <th class="">Cantidad</th>
                                    <th class="">Descuento</th>
                                    <th class="">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX" ng-repeat="fila in ajaxDatoLineas track by $index">
                                    <td>{{fila.obj_producto.codigo}}</td>
                                    <td>{{fila.obj_producto.descripcion}}</td>
                                    <td>{{fila.precio}}</td>
                                    <td>{{fila.cantidad}}</td>
                                    <td>{{fila.descuento}}</td>

                                    <td ng-show='fila.descuento > 0'>
                                        {{(fila.precio_Total/((fila.descuento/100)+1)).toFixed(2)}}</td>
                                    <td ng-show='fila.descuento == 0'>{{fila.precio_Total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed" style="margin-top: 12%; text-align: center;">
                            <thead>
                                <tr>
                                    <th class="">Base Imponible</th>
                                    <th class="">Descuento</th>
                                    <th class="">IVA</th>
                                    <th class="">%</th>
                                    <th class="">Total Presupuesto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>{{ajaxDataPresupuesto.precio_Bruto}}</td>
                                    <td>{{ajaxDataPresupuesto.descuento}}</td>
                                    <td>{{ajaxDataPresupuesto.total_Iva}}</td>
                                    <td>{{ajaxDataPresupuesto.iva}}</td>

                                    <td>{{ajaxDataPresupuesto.total_Precio}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <button class="btn btn-success" ng-click='grabar()'>GRABAR</button>
</div>