<header-component></header-component>
<div class="container-fluid">
<button><a href="presupuesto/new">Crear</a></button>  
  <h1>FACTURAS EMPRESA EJERCICIO {{ejercicio}}</h1>
    <div class="table-responsive-md">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Presupuesto</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="fila in ajaxDataFactura">
                    <td>{{fila.presupuesto}}</td>
                    <td>{{fila.fecha}}</td>
                    <td>{{fila.obj_Cliente.id}} - {{fila.obj_Cliente.nombre}}</td>
                    <td>{{fila.total_Precio}} € </td>

                    <td>
                        <a href="presupuesto/view/{{fila.presupuesto}}">
                            <i class="fa fa-eye hvr-pop" style="font-size: 17px;" aria-hidden="true" onclick="window.scrollTo(0, 0)"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-6">
            <nav aria-label="paginacion">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="factura/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="factura/plist/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="factura/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="factura/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="factura/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Siguiente</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>